<label for="sortButtonGroup">Sort:</label> 

<div id="sortButtonGroup" class="btn-group" role="group">
  <% for (const [key, value] of Object.entries(properties)) { %>

  <a id="<%- key %>" class="btn btn-primary btn-sm rounded-0" role="button"><%- value %></a>

  <script>
    document.getElementById("<%- key %>").addEventListener("click", ev=>{
      if ("URLSearchParams" in window) {
        if(searchParams.get("sort") == "<%- key %>"){
          if(searchParams.get("order") == "az") searchParams.set("order", "za")
          else searchParams.set("order", "az")
        } else {
          searchParams.set("sort", "<%- key %>")
          searchParams.set("order", "az")
        }
        window.location.search = searchParams.toString()
      }
    })
  </script>

  <% } %>
</div>