<div class="row mt-5">
  <div class="row-col-auto m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-notes-medical"></i> Add Exam
      </h1>

      <% include partials/messages %>

      <form action="/exam/add" method="POST">
        <h2>History and Symptoms:</h2>

        <div class="form-group">

          <div class="mb-3">
            <label for="author" class="form-label">Author:</label>
            <input class="form-control" type="text" name="author" id="author" rows="1" readonly="readonly"
              value="<%= user.name %>"></input>
          </div>

          <div class="mb-3">
            <label for="patientID" class="form-label">Patient ID:</label>
            <input class="form-control" type="text" name="patientID" id="patientID" rows="1" readonly="readonly"
              value="<%= patientID %>"></input>
          </div>

          <div class="mb-3">
            <label for="performingOptometrist" class="form-label">Performing Optometrist:</label>
            <select class="form-control" name="performingOptometrist" id="performingOptometrist">
              <% optometrists.forEach(optom => { %>
              <% if (optom.optometrist) { %>
              <option value="<%= optom.id %>"><%= optom.name  %></option>
              <% }}) %>

            </select>
          </div>

          <div class="mb-3">
            <label for="visitReason" class="form-label">Visit Reason:</label>
            <textarea class="form-control" name="visitReason" id="visitReason" rows="1"></textarea>
          </div>

          <div class="mb-3">
            <label for="familyHistory" class="form-label">Family History:</label>
            <textarea class="form-control" name="familyHistory" id="familyHistory" rows="1"></textarea>
          </div>

          <div class="mb-3">
            <label for="generalHealth" class="form-label">General Health:</label>
            <textarea class="form-control" name="generalHealth" id="generalHealth" rows="1"></textarea>
          </div>

          <div class="mb-3">
            <label for="medication" class="form-label">Medication:</label>
            <textarea class="form-control" name="medication" id="medication" rows="1"></textarea>
          </div>

          <div class="mb-3">
            <label for="patientDrives" class="form-label">Drives:</label>
            <input type="checkbox" class="form-check-input" id="patientDrives" name="patientDrives" value="true" />
          </div>

          <div class="mb-3">
            <label for="patientUsesVDU" class="form-label">Uses VDU:</label>
            <input type="checkbox" class="form-check-input" id="patientUsesVDU" name="patientUsesVDU" value="true" />
          </div>


          <div class="mb-3">
            <label for="occupation" class="form-label">Occupation:</label>
            <textarea class="form-control" name="occupation" id="occupation" rows="1"></textarea>
          </div>

          <div class="mb-3">
            <label for="ocularHistory" class="form-label">Ocular History:</label>
            <textarea class="form-control" name="ocularHistory" id="ocularHistory" rows="1"></textarea>
          </div>

          <div class="mb-3">
            <label for="dateOfVisit" class="form-label">Date of Visit:</label>
            <input id="dateOfVisit" type="date" name="dateOfVisit" class="form-control">
          </div>
          <script>
            document.getElementById("dateOfVisit").valueAsDate = new Date()
          </script>

          <h2>Exam:</h2>

          <div class="mb-3">
            <label for="lensOpacityLeft" class="form-label">Lens Opacity Left:</label>
            <select id="lensOpacityLeft" name="lensOpacityLeft" class="form-select">
              <option value="clear">Clear</option>
              <option value="opaque">Opaque</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="lensOpacityRight" class="form-label">Lens Opacity Right:</label>
            <select id="lensOpacityRight" name="lensOpacityRight" class="form-select">
              <option value="clear">Clear</option>
              <option value="opaque">Opaque</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="lensComment" class="form-label">Lens Comment:</label>
            <textarea class="form-control" name="lensComment" id="lensComment" rows="1"></textarea>
          </div>

          <div class="mb-3">
            <label for="vitreousLeft" class="form-label">Vitreous Left:</label>
            <select id="vitreousLeft" name="vitreousLeft" class="form-select">
              <option value="clear">Clear</option>
              <option value="opaque">Opaque</option>
              <option value="degeneration">Degeneration</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="vitreousRight" class="form-label">Vitreous Right:</label>
            <select id="vitreousRight" name="vitreousRight" class="form-select">
              <option value="clear">Clear</option>
              <option value="opaque">Opaque</option>
              <option value="degeneration">Degeneration</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="viterousComment" class="form-label">Viterous Comment:</label>
            <textarea class="form-control" name="viterousComment" id="viterousComment" rows="1"></textarea>
          </div>

          <div class="mb-3">
            <label for="discLeft" class="form-label">Disc Left:</label>
            <select name="discLeft" id="discLeft" class="form-select">
              <option value="flat">Flat</option>

              <% for( let index = 10; index < 100; index+=5 ) { %>
              <option value="0.<%= index %>"> 0.<%= index %> </option>
              <% } %>

              <option value="cupped">Completly Cupped</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="discRight" class="form-label">Disc Right:</label>
            <select name="discRight" id="discRight" class="form-select">
              <option value="flat">Flat</option>

              <% for( let index = 10; index < 100; index+=5 ) { %>
              <option value="0.<%= index %>"> 0.<%= index %> </option>
              <% } %>

              <option value="cupped">Completly Cupped</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="discComment" class="form-label">Disc Comment:</label>
            <textarea class="form-control" name="discComment" id="discComment" rows="1"></textarea>
          </div>

          <div class="mb-3">
            <label for="fundusLeft" class="form-label">Fundus Left:</label>
            <select id="fundusLeft" name="fundusLeft" class="form-select">
              <option value="normal">Normal Reflex</option>
              <option value="drusen">Drusen</option>
              <option value="pigment">Pigment</option>
              <option value="oedema">Oedema</option>
              <option value="">Other</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="fundusLeftOther" class="form-label">Other:</label>
            <textarea class="form-control" name="fundusLeftOther" id="fundusLeftOther" rows="1"></textarea>
          </div>

          <div class="mb-3">
            <label for="fundusRight" class="form-label">Fundus Right:</label>
            <select name="fundusRight" id="fundusRight" class="form-select">
              <option value="normal">Normal Reflex</option>
              <option value="drusen">Drusen</option>
              <option value="pigment">Pigment</option>
              <option value="oedema">Oedema</option>
              <option value="">Other</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="fundusRightOther" class="form-label">Other:</label>
            <textarea class="form-control" name="fundusRightOther" id="fundusRightOther" rows="1"></textarea>
          </div>

          <div class="mb-3">
            <label for="maculaLeft" class="form-label">Macula Left:</label>
            <select name="maculaLeft" id="maculaLeft" class="form-select">
              <option value="normal">Normal Reflex</option>
              <option value="drusen">Drusen</option>
              <option value="pigment">Pigment</option>
              <option value="oedema">Oedema</option>
              <option value="">Other</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="maculaLeftOther" class="form-label">Other:</label>
            <textarea class="form-control" name="maculaLeftOther" id="maculaLeftOther" rows="1"></textarea>
          </div>

          <div class="mb-3">
            <label for="maculaRight" class="form-label">Macula Right:</label>
            <select name="maculaRight" id="maculaRight" class="form-select">
              <option value="normal">Normal Reflex</option>
              <option value="drusen">Drusen</option>
              <option value="pigment">Pigment</option>
              <option value="oedema">Oedema</option>
              <option value="">Other</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="maculaRightOther" class="form-label">Other:</label>
            <textarea class="form-control" name="maculaRightOther" id="maculaRightOther" rows="1"></textarea>
          </div>

          <div class="mb-3">
            <label for="pupils" class="form-label">Pupils:</label>
            <select id="pupils" name="pupils" class="form-select">
              <option value="normal">Normal and Reflective</option>
              <option value="r-rapd">R RAPD</option>
              <option value="l-rapd">L RAPD</option>
              <option value="r.l">R>L</option>
              <option value="l.r">L>R</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="pupilsComment" class="form-label">Pupils Comment:</label>
            <textarea class="form-control" name="pupilsComment" id="pupilsComment" rows="1"></textarea>
          </div>

          <div class="mb-3">
            <label for="IOPLeft" class="form-label">IOP Left:</label>
            <select name="IOPLeft" id="IOPLeft" class="form-select">
              <option value="not measured"> Not Measured </option>
              <% for( let index = 9; index < 51; index++ ) { %>
              <option value="0.<%= index %>"> <%= index %> mmHg </option>
              <% } %>

            </select>
          </div>

          <div class="mb-3">
            <label for="IOPRight" class="form-label">IOP Right:</label>
            <select name="IOPRight" id="IOPRight" class="form-select">
              <option value="not measured"> Not Measured </option>
              <% for( let index = 9; index < 51; index++ ) { %>
              <option value="0.<%= index %>"> <%= index %> mmHg </option>
              <% } %>

            </select>
          </div>

          <div class="mb-3">
            <label for="IOPComment" class="form-label">IOP Comment:</label>
            <textarea class="form-control" name="IOPComment" id="IOPComment" rows="1"></textarea>
          </div>

          <div class="mb-3">
            <label for="visualFieldLeft" class="form-label">Visual Field Left:</label>
            <select name="visualFieldLeft" id="visualFieldLeft" class="form-select">
              <option value="full">Full</option>
              <option value="defect">Defect</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="visualFieldRight" class="form-label">Visual Field Right:</label>
            <select name="visualFieldRight" id="visualFieldRight" class="form-select">
              <option value="full">Full</option>
              <option value="defect">Defect</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="visualFieldComment" class="form-label">Visual Field Comment:</label>
            <textarea class="form-control" name="visualFieldComment" id="visualFieldComment" rows="1"></textarea>
          </div>

          <div class="mb-3">
            <label for="fixationDisparity" class="form-label">Fixation Disparity:</label>
            <select name="fixationDisparity" id="fixationDisparity" class="form-select">
              <option value="orthophoric">Orthophoric</option>
              <option value="xop">XOP</option>
              <option value="sop">SOP</option>
              <option value="xot-r">XOT R</option>
              <option value="xot-l">XOT L</option>
              <option value="sot-r">SOT R</option>
              <option value="sot-l">SOT L</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="motility" class="form-label">Motility:</label>
            <select name="motility" id="motility" class="form-select">
              <option value="full">Full and Smooth</option>
              <option value="">Other</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="motilityOther" class="form-label">Other:</label>
            <textarea class="form-control" name="motilityOther" id="motilityOther" rows="1"></textarea>
          </div>

          <div class="mb-3">
            <label for="convergence" class="form-label">Convergence:</label>
            <select name="convergence" id="convergence" class="form-select">

              <% for( let index = 0; index < 21; index++ ) { %>
              <option value="<%= index %>"> <%= index %> cm </option>
              <% } %>

            </select>
          </div>

          <label for="stereopsis" class="form-label">Stereopsis:</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="stereopsis" name="stereopsis">
            <span class="input-group-text" id="basic-addon2">seconds</span>
          </div>

          <div class="mb-3">
            <label for="visualAcuity" class="form-label">Visual Acuity:</label>
            <select name="visualAcuity" id="visualAcuity" class="form-select">
              <option value="full">Hand Movement</option>
              <option value="cf">Counting Fingers</option>
              <option value="6/60">6/60</option>
              <option value="6/36">6/36</option>
              <option value="6/24">6/24</option>
              <option value="6/18">6/18</option>
              <option value="6/12">6/12</option>
              <option value="6/9">6/9</option>
              <option value="6/7.5">6/7.5</option>
              <option selected value="6/6">6/6</option>
              <option value="6/5">6/5</option>
              <option value="6/4">6/4</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="visualAcuityMod" class="form-label">Visual Acuity Modifier:</label>
            <select name="visualAcuityMod" id="visualAcuityMod" class="form-select">
              <option value="-2">-2</option>
              <option value="-1">-1</option>
              <option selected value="0"> 0</option>
              <option value="+1">+1</option>
              <option value="+2">+2</option>
            </select>
          </div>

          <h2>Perscription</h2>

          <div class="mb-3">
            <label for="sphereLeft" class="form-label">Sphere Left:</label>
            <div input-group>
              <select name="sphereLeftSign" id="sphereLeftSign" class="form-select">
                <option value="+"> + </option>
                <option value="-"> - </option>
              </select>
              <select name="sphereLeft" id="sphereLeft" class="form-select">
                <option value="plano"> Plano </option>
                <% for( let index = 0.25; index < 25.1; index+=0.25 ) { %>
                <% let num=index.toString() %>
                <% if (num % 1 == 0) num = `${num}.` %>
                <% if (num.charAt(num.length - 1) === '.') num = `${num}00` %>
                <% if (num.charAt(num.length - 2) === '.') num = `${num}0` %>
                <option value="<%= num %>"> <%= num.toString() %> </option>
                <% } %>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="sphereRight" class="form-label">Sphere Right:</label>
            <div input-group>
              <select name="sphereRightSign" id="sphereRightSign" class="form-select">
                <option value="+"> + </option>
                <option value="-"> - </option>
              </select>
              <select name="sphereRight" id="sphereRight" class="form-select">
                <option value="plano"> Plano </option>
                <% for( let index = 0.25; index < 25.1; index+=0.25 ) { %>
                <% let num=index.toString() %>
                <% if (num % 1 == 0) num = `${num}.` %>
                <% if (num.charAt(num.length - 1) === '.') num = `${num}00` %>
                <% if (num.charAt(num.length - 2) === '.') num = `${num}0` %>
                <option value="<%= num %>"> <%= num.toString() %> </option>
                <% } %>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="cylinderLeft" class="form-label">Cylinder Left:</label>
            <select name="cylinderLeft" id="cylinderLeft" class="form-select">
              <% for( let index = 0; index > -10.1; index-=0.25 ) { %>
              <% let num=index.toString() %>
              <% if (num % 1 == 0) num = `${num}.` %>
              <% if (num.charAt(num.length - 1) === '.') num = `${num}00` %>
              <% if (num.charAt(num.length - 2) === '.') num = `${num}0` %>
              <option value="<%= num %>"> <%= num.toString() %> </option>
              <% } %>
            </select>
          </div>

          <div class="mb-3">
            <label for="cylinderRight" class="form-label">Cylinder Right:</label>
            <select name="cylinderRight" id="cylinderRight" class="form-select">
              <% for( let index = 0; index > -10.1; index-=0.25 ) { %>
              <% let num=index.toString() %>
              <% if (num % 1 == 0) num = `${num}.` %>
              <% if (num.charAt(num.length - 1) === '.') num = `${num}00` %>
              <% if (num.charAt(num.length - 2) === '.') num = `${num}0` %>
              <option value="<%= num %>"> <%= num.toString() %> </option>
              <% } %>
            </select>
          </div>

          <label for="axisLeft" class="form-label">Axis Left:</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="axisLeft" name="axisLeft">
            <span class="input-group-text">degrees</span>
          </div>

          <label for="axisRight" class="form-label">Axis Right:</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="axisRight" name="axisRight">
            <span class="input-group-text">degrees</span>
          </div>

          <div class="mb-3">
            <label for="prismBaseLeft" class="form-label">Prism Base Left:</label>
            <div class="form-check">
              <label class="form-check-label" for="leftLeft"> Left </label>
              <input class="form-check-input" type="checkbox" id="leftLeft" name="prismLeft" value="left-left">
            </div>
            <div class="form-check">
              <label class="form-check-label" for="leftRight"> Right </label>
              <input class="form-check-input" type="checkbox" id="leftRight" name="prismLeft" value="left-right">
            </div>
            <div class="form-check">
              <label class="form-check-label" for="leftUp"> Up </label>
              <input class="form-check-input" type="checkbox" id="leftUp" name="prismLeft" value="left-up">
            </div>
            <div class="form-check">
              <label class="form-check-label" for="leftDown"> Down </label>
              <input class="form-check-input" type="checkbox" id="leftDown" name="prismLeft" value="left-down">
            </div>
          </div>

          <div class="mb-3">
            <label for="prismBaseRight" class="form-label">Prism Base Right:</label>
            <div class="form-check">
              <label class="form-check-label" for="rightLeft"> Left </label>
              <input class="form-check-input" type="checkbox" id="rightLeft" name="prismRight" value="right-left">
            </div>
            <div class="form-check">
              <label class="form-check-label" for="rightRight"> Right </label>
              <input class="form-check-input" type="checkbox" id="rightRight" name="prismRight" value="right-right">
            </div>
            <div class="form-check">
              <label class="form-check-label" for="rightUp"> Up </label>
              <input class="form-check-input" type="checkbox" id="rightUp" name="prismRight" value="right-up">
            </div>
            <div class="form-check">
              <label class="form-check-label" for="rightDown"> Down </label>
              <input class="form-check-input" type="checkbox" id="rightDown" name="prismRight" value="right-down">
            </div>
          </div>

          <div class="mb-3">
            <label for="adviceGiven" class="form-label">Advice Given:</label>
            <select name="adviceGiven" id="adviceGiven" class="form-select">
              <option value="noChange">No Change</option>
              <option value="newPerscription">New Perscription</option>
              <option value="noPerscription">No Perscription</option>
              <option value="refered">Referral (please specify)</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="adviceSpecifics" class="form-label">Advice Specifics:</label>
            <textarea class="form-control" name="adviceSpecifics" id="adviceSpecifics" rows="1"></textarea>
          </div>

          <div class="mb-3">
            <label for="recallCode" class="form-label">Recall Code:</label>
            <select name="recallCode" id="recallCode" class="form-select">
              <option value="0">0 - No Early Recall</option>
              <option value="1">1 - risk of frequent changes</option>
              <option value="2">2 - pathology likely to worsen</option>
              <option value="3.1">3.1 - referral to a medical practitioner</option>
              <option value="3.2">3.2 - changed prescription</option>
              <option value="3.3">3.3 - no change or no referral</option>
              <option value="4.1">4.1 - complex lenses</option>
              <option value="4.2">4.2 - corrected vision less than 6/60 in one eye</option>
              <option value="5.1">5.1 - presented for a sight test</option>
              <option value="5.2">5.2 - managed by an optometrist under the GOC referral</option>
              <option value="5.3">5.3 - risk factors</option>
              <option value="6">6 - other unusual circumstances</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="attachments" class="form-label">Attachments:</label>
            <input class="form-control" type="file" id="attachments" multiple>
          </div>

        </div>
        <button id="buttonSubmitPatient" class="btn btn-primary btn-block">Submit</button>
    </div>
    </form>
  </div>
</div>
</div>


<script>
  buttonSubmitPatient.addEventListener('click', ev => {
    ev.preventDefault()
    const exam = {
      patientID: patientID.value,
      visitReason: visitReason.value,
      familyHistory: familyHistory.value,
      generalHealth: generalHealth.value,
      medication: medication.value,
      patientDrives: patientDrives.checked,
      patientUsesVDU: patientUsesVDU.checked,
      occupation: occupation.value,
      ocularHistory: ocularHistory.value,
      dateOfVisit: dateOfVisit.value,
      performingOptometrist: performingOptometrist.value,
      author: "<%= user._id %>",
      lensOpacityLeft: lensOpacityLeft.value,
      lensOpacityRight: lensOpacityRight.value,
      lensComment: lensComment.value,
      vitreousLeft: vitreousLeft.value,
      vitreousRight: vitreousRight.value,
      viterousComment: viterousComment.value,
      discLeft: discLeft.value,
      discRight: discRight.value,
      discComment: discComment.value,
      fundusLeft: fundusLeft.value || fundusLeftOther.value,
      fundusRight: fundusRight.value || fundusRightOther.value,
      maculaLeft: maculaLeft.value || maculaLeftOther.value,
      maculaRight: maculaRight.value || maculaRightOther.value,
      pupils: pupils.value,
      pupilsComment: pupilsComment.value,
      IOPLeft: IOPLeft.value,
      IOPRight: IOPRight.value,
      IOPComment: IOPComment.value,
      visualFieldLeft: visualFieldLeft.value,
      visualFieldRight: visualFieldRight.value,
      visualFieldComment: visualFieldComment.value,
      fixationDisparity: fixationDisparity.value,
      motility: motility.value || motilityOther.value,
      convergence: convergence.value,
      stereopsis: stereopsis.value,
      //va
      //sphere
      cylinderLeft: cylinderLeft.value,
      cylinderRight: cylinderRight.value,
      axisLeft: axisLeft.value,
      axisRight: axisRight.value,
      //prism
      recallCode: recallCode.value,
    }


    if (adviceSpecifics.value) {
      exam.adviceGiven = `${adviceGiven.value} - ${adviceSpecifics.value}`
    } else exam.adviceGiven = adviceGiven.value

    if (visualAcuityMod.value == 0) {
      exam.visualAcuity = visualAcuity.value
    } else exam.visualAcuity = `${visualAcuity.value} ${visualAcuityMod.value}`

    if (sphereLeft.value != "plano") {
      exam.sphereLeft = `${sphereLeftSign.value}${sphereLeft.value}`
    } else exam.sphereLeft = `${sphereLeft.value}`

    if (sphereRight.value != "plano") {
      exam.sphereRight = `${sphereRightSign.value}${sphereRight.value}`
    } else exam.sphereRight = `${sphereRight.value}`

    let leftPrism = []
    if(leftLeft.checked) leftPrism.push("Left")
    if(leftRight.checked) leftPrism.push("Right")
    if(leftUp.checked) leftPrism.push("Up")
    if(leftDown.checked) leftPrism.push("Down")

    let rightPrism = []
    if(rightLeft.checked) rightPrism.push("Left")
    if(rightRight.checked) rightPrism.push("Right")
    if(rightUp.checked) rightPrism.push("Up")
    if(rightDown.checked) rightPrism.push("Down")

    exam.leftPrism = leftPrism.join(", ")
    exam.rightPrism = rightPrism.join(", ")
    
    submit(exam)

    //should be redirected to patient page
    location.reload();

  })


  async function submit(exam) {
    const response = await fetch("/exam/add/", {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(exam)
    })
  }
</script>