<a href="/staff/add/" class="btn btn-primary mt-3 mb-1 float-right">New Staff Member</a>
<%- include("../../partials/page-buttons") %> 
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr class="table-dark">
        <th>Name</th>
        <th>Username</th>
        <th>ID</th>
        <th>Added Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(user => { %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.username %></td>
          <td><%= user._id %></td>
          <td><%= user.date.toLocaleDateString('en-GB') %></td>
          <td><a type="button" class="btn btn-secondary btn-sm" href="/staff/view/<%= user._id %>" > View </a></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>