<div class="row mt-5">
  <div class="row-col-auto m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-graduate"></i> Add Staff
      </h1>

      <% include ("../../partials/messages") %>
        <form action="/staff/add/" method="POST">
          <div class="form-group">

            <h2 class="lead">Staff Details</h2>

            <div class="mb-3">
              <label for="name">Name</label>
              <input required type="name" id="name" name="name" class="form-control" placeholder="Enter Name"
                value="<%= typeof name != "undefined" ? name : "" %>" />
            </div>

            <div class="mb-3">
              <label for="username">Username</label>
              <input required type="text" id="username" name="username" class="form-control" placeholder="Enter username"
                value="<%= typeof username != "undefined" ? username : "" %>" />
            </div>

            <div class="mb-3">
              <label for="password">Password</label>
              <input required type="password" id="password" name="password" class="form-control" placeholder="Create Password" minlength="8"
              value="<%= typeof password != "undefined" ? password : "" %>" />
            </div>

            <div class="mb-3">
              <label for="password2">Confirm Password</label>
              <input required type="password" id="password2" name="password2" class="form-control" placeholder="Confirm Password" minlength="8"
              value="<%= typeof password2 != "undefined" ? password2 : "" %>" />
            </div>

            <div class="mb-3">
              <label for="optometrist" class="form-check-label">Optometrist</label>
              <input type="checkbox" class="form-check-input" id="optometrist" name="optometrist" />
            </div>

            <h2 class="lead">Optional Contact Details</h2>

            <div class="mb-3">
              <label for="email">Email Address</label>
              <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email Address"
                value="<%= typeof email != "undefined" ? email : "" %>" />
            </div>

            <div class="mb-3">
              <label for="phonePrimary">Primary Phone Number</label>
              <input type="phonePrimary" id="phonePrimary" name="phonePrimary" class="form-control" placeholder="Enter main phone number"
                value="<%= typeof phonePrimary != "undefined" ? phonePrimary : "" %>" />
            </div>

            <div class="mb-3">
              <label for="phoneSecondary">Other Phone Number</label>
              <input type="phoneSecondary" id="phoneSecondary" name="phoneSecondary" class="form-control" placeholder="Enter backup phone number"
                value="<%= typeof phoneSecondary != "undefined" ? phoneSecondary : "" %>" />
            </div>

            <div class="mb-3">
              <label for="address">Home Address</label>
              <textarea type="address" id="address" name="address" class="form-control" placeholder="Enter home address"
                value="<%= typeof address != "undefined" ? address : "" %>" ></textarea>
            </div>

            <button type="submit" class="btn btn-primary btn-block"> Add User </button>
          </div>
        </form>
    </div>
  </div>
</div>