<div class="row mt-5">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-notes-medical"></i> Add Exam
      </h1>

      <% include("../../partials/messages") %>

      <form action="" method="POST">
        
        <div class="form-group container noGutter">
          <h2>History and Symptoms:</h2>

          <%# Exam Author %> 
          <div class="row mb-3">
            <label for="author" class="form-label">Author:</label>
            <input class="form-control" type="text" name="author" id="author" rows="1" readonly="readonly"
              value="<%= user.name %>"></input>
          </div>

          <%# Patient ID %>
          <div class="row mb-3">
            <label for="patientID" class="form-label">Patient ID:</label>
            <input class="form-control" type="text" name="patientID" id="patientID" rows="1" readonly="readonly"
              value="<%= patientID %>"></input>
          </div>

          <%# Performing Optometrist %>
          <div class="row mb-3">
            <label for="performingOptometrist" class="form-label">Performing Optometrist:</label>
            <select class="form-control" name="performingOptometrist" id="performingOptometrist">
              <% optometrists.forEach(optom=> { %>
              <% if (optom.optometrist) { %>
              <option value="<%= optom.id %>">
                <%= optom.name %>
              </option>
              <% }}) %>

            </select>
          </div>

          <%# Visit Reason %>
          <div class="row mb-3">
            <label for="visitReason" class="form-label">Visit Reason:</label>
            <textarea class="form-control" name="visitReason" id="visitReason" rows="1"></textarea>
          </div>

          <%# Family History %>
          <div class="row mb-3">
            <label for="familyHistory" class="form-label">Family History:</label>
            <textarea class="form-control" name="familyHistory" id="familyHistory" rows="1"><%= lastExam.familyHistory %></textarea>
          </div>

          <%# General Health %>
          <div class="row mb-3">
            <label for="generalHealth" class="form-label">General Health:</label>
            <textarea class="form-control" name="generalHealth" id="generalHealth" rows="1"><%= lastExam.generalHealth %></textarea>
          </div>
          
          <%# Medication %>
          <div class="row mb-3">
            <label for="medication" class="form-label">Medication:</label>
            <textarea class="form-control" name="medication" id="medication" rows="1"><%= lastExam.medication %></textarea>
          </div>

          <%# Patient Drives %>
          <div class="row mb-3">
            <div class="container">
              <label for="patientDrives" class="form-label">Patient Drives:</label>
              <input type="checkbox" class="form-check-input" id="patientDrives" name="patientDrives" value="true"
              <% if (lastExam.patientDrives) { %>
              checked
             <% } %> />
            </div>
          </div>

          <%# Patient uses VDU %>
          <div class="row mb-3">
            <div class="container">
              <label for="patientUsesVDU" class="form-label">Patient Uses VDU:</label>
              <input type="checkbox" class="form-check-input" id="patientUsesVDU" name="patientUsesVDU" value="true"
               <% if (lastExam.patientUsesVDU) { %>
               checked
              <% } %> />
            </div>
          </div>

          <%# Occupation %>
          <div class="row mb-3">
            <label for="occupation" class="form-label">Occupation:</label>
            <textarea class="form-control" name="occupation" id="occupation" rows="1"><%= lastExam.occupation %></textarea>
          </div>

          <%# Ocular History %>
          <div class="row mb-3">
            <label for="ocularHistory" class="form-label">Ocular History:</label>
            <textarea class="form-control" name="ocularHistory" id="ocularHistory" rows="1"><%= lastExam.ocularHistory %></textarea>
          </div>

          <%# Date of Visit %>
          <div class="row mb-3">
            <label for="dateOfVisit" class="form-label">Date of Visit:</label>
            <input id="dateOfVisit" type="date" name="dateOfVisit" class="form-control">
          </div>
          <script>
            document.getElementById("dateOfVisit").valueAsDate = new Date()
          </script>

          <br>
          <hr>
          <h2>Exam:</h2>

          <%# Lens Opacity %>
          <div class="row mb-1 gap-2">
            <div class="col">
              <div class="mb-3">
                <label for="lensOpacityRight" class="form-label">Lens Opacity Right:</label>
                <select id="lensOpacityRight" name="lensOpacityRight" class="form-select">
                  <option value="clear">Clear</option>
                  <option value="opaque">Opaque</option>
                </select>
              </div>
            </div>
            <div class="col">
              <label for="lensOpacityLeft" class="form-label">Lens Opacity Left:</label>
              <select id="lensOpacityLeft" name="lensOpacityLeft" class="form-select">
                <option value="clear">Clear</option>
                <option value="opaque">Opaque</option>
              </select>
            </div>
          </div>

          <%# Lens Opacity Comment %>
          <div class="row mb-3">
            <label for="lensComment" class="form-label">Lens Comment:</label>
            <textarea class="form-control" name="lensComment" id="lensComment" rows="1"></textarea>
          </div>

          <%# Vitreous %>
          <div class="row mb-3 gap-2">
            <div class="col">
              <div class="mb-3">
                <label for="vitreousRight" class="form-label">Vitreous Right:</label>
                <select id="vitreousRight" name="vitreousRight" class="form-select">
                  <option value="clear">Clear</option>
                  <option value="opaque">Opaque</option>
                  <option value="degeneration">Degeneration</option>
                </select>
              </div>
            </div>
            <div class="col">
              <label for="vitreousLeft" class="form-label">Vitreous Left:</label>
              <select id="vitreousLeft" name="vitreousLeft" class="form-select">
                <option value="clear">Clear</option>
                <option value="opaque">Opaque</option>
                <option value="degeneration">Degeneration</option>
              </select>
            </div>
          </div>

          <%# Viterous Comment %>
          <div class="row mb-3">
            <label for="viterousComment" class="form-label">Viterous Comment:</label>
            <textarea class="form-control" name="viterousComment" id="viterousComment" rows="1"></textarea>
          </div>

          <%# Disc %>
          <div class="row mb-1 gap-2">
            <div class="col">
              <div class="row mb-3">
                <label for="discRight" class="form-label">Disc Right:</label>
                <select name="discRight" id="discRight" class="form-select">
                  <option value="flat">Flat</option>

                  <% for( let index=10; index < 100; index+=5 ) { %>
                  <option value="0.<%= index %>"> 0.<%= index %>
                  </option>
                  <% } %>

                  <option value="cupped">Completly Cupped</option>
                </select>
              </div>
            </div>

            <div class="col">
              <label for="discLeft" class="form-label">Disc Left:</label>
              <select name="discLeft" id="discLeft" class="form-select">
                <option value="flat">Flat</option>

                <% for( let index=10; index < 100; index+=5 ) { %>
                <option value="0.<%= index %>"> 0.<%= index %>
                </option>
                <% } %>

                <option value="cupped">Completly Cupped</option>
              </select>
            </div>
          </div>

          <%# Disc Comment %>
          <div class="row mb-3">
            <label for="discComment" class="form-label">Disc Comment:</label>
            <textarea class="form-control" name="discComment" id="discComment" rows="1"></textarea>
          </div>

          <%# Fundus %>
          <div class="row mb-3 gap-2">
            <div class="col">
              <div>
                <label for="fundusRight" class="form-label">Fundus Right:</label>
                <select name="fundusRight" id="fundusRight" class="form-select">
                  <option value="normal">Normal Reflex</option>
                  <option value="drusen">Drusen</option>
                  <option value="pigment">Pigment</option>
                  <option value="oedema">Oedema</option>
                  <option value="">Other</option>
                </select>
              </div>
              <div id="fundusRightOtherDiv" class="row mb-3 d-none">
                <label for="fundusRightOther" class="form-label">Other:</label>
                <textarea class="form-control" name="fundusRightOther" id="fundusRightOther" rows="1"></textarea>
              </div>
            </div>

            <div class="col">
              <div>
                <label for="fundusLeft" class="form-label">Fundus Left:</label>
                <select name="fundusLeft" id="fundusLeft" class="form-select">
                  <option value="normal">Normal Reflex</option>
                  <option value="drusen">Drusen</option>
                  <option value="pigment">Pigment</option>
                  <option value="oedema">Oedema</option>
                  <option value="">Other</option>
                </select>
              </div>
              <div id="fundusLeftOtherDiv" class="row mb-3 d-none">
                <label for="fundusLeftOther" class="form-label">Other:</label>
                <textarea class="form-control" name="fundusLeftOther" id="fundusLeftOther" rows="1"></textarea>
              </div>
            </div>
          </div>

          <%# Macula %>
          <div class="row mb-3 gap-2">
            <div class="col">
              <div>
                <label for="maculaRight" class="form-label">Macula Right:</label>
                <select name="maculaRight" id="maculaRight" class="form-select">
                  <option value="normal">Normal Reflex</option>
                  <option value="drusen">Drusen</option>
                  <option value="pigment">Pigment</option>
                  <option value="oedema">Oedema</option>
                  <option value="">Other</option>
                </select>
              </div>
              <div id="maculaRightOtherDiv" class="d-none">
                <label for="maculaRightOther" class="form-label">Other:</label>
                <textarea class="form-control" name="maculaRightOther" id="maculaRightOther" rows="1"></textarea>
              </div>
            </div>
            <div class="col">
              <div>
                <label for="maculaLeft" class="form-label">Macula Left:</label>
                <select name="maculaLeft" id="maculaLeft" class="form-select">
                  <option value="normal">Normal Reflex</option>
                  <option value="drusen">Drusen</option>
                  <option value="pigment">Pigment</option>
                  <option value="oedema">Oedema</option>
                  <option value="">Other</option>
                </select>
              </div>
              <div id="maculaLeftOtherDiv" class="d-none">
                <label for="maculaLeftOther" class="form-label">Other:</label>
                <textarea class="form-control" name="maculaLeftOther" id="maculaLeftOther" rows="1"></textarea>
              </div>
            </div>
          </div>

          <%# Pupils %>
          <div class="row mb-3">
            <label for="pupils" class="form-label">Pupils:</label>
            <select id="pupils" name="pupils" class="form-select">
              <option value="normal">Normal and Reflective</option>
              <option value="r-rapd">R RAPD</option>
              <option value="l-rapd">L RAPD</option>
              <option value="r.l">R>L</option>
              <option value="l.r">L>R</option>
            </select>
          </div>

          <%# Pupils Comment %>
          <div class="row mb-3">
            <label for="pupilsComment" class="form-label">Pupils Comment:</label>
            <textarea class="form-control" name="pupilsComment" id="pupilsComment" rows="1"></textarea>
          </div>

          <%# IOP %>
          <div class="row mb-3 gap-2">
            <div class="col">
              <label for="IOPRight" class="form-label">IOP Right:</label>
              <select name="IOPRight" id="IOPRight" class="form-select">
                <option value="not measured"> Not Measured </option>
                <% for( let index=9; index < 51; index++ ) { %>
                <option value="0.<%= index %>">
                  <%= index %> mmHg
                </option>
                <% } %>
              </select>
            </div>
            <div class="col ">
              <label for="IOPLeft" class="form-label">IOP Left:</label>
              <select name="IOPLeft" id="IOPLeft" class="form-select">
                <option value="not measured"> Not Measured </option>
                <% for( let index=9; index < 51; index++ ) { %>
                <option value="0.<%= index %>">
                  <%= index %> mmHg
                </option>
                <% } %>
              </select>
            </div>
          </div>

          <%# IOP Comment %>
          <div class="row mb-3">
            <label for="IOPComment" class="form-label">IOP Comment:</label>
            <textarea class="form-control" name="IOPComment" id="IOPComment" rows="1"></textarea>
          </div>

          <%# Visual Field %>
          <div class="row mb-3 gap-2">
            <div class="col">
              <label for="visualFieldRight" class="form-label">Visual Field Right:</label>
              <select name="visualFieldRight" id="visualFieldRight" class="form-select">
                <option value="full">Full</option>
                <option value="defect">Defect</option>
              </select>
            </div>
            <div class="col">
              <label for="visualFieldLeft" class="form-label">Visual Field Left:</label>
              <select name="visualFieldLeft" id="visualFieldLeft" class="form-select">
                <option value="full">Full</option>
                <option value="defect">Defect</option>
              </select>
            </div>
          </div>

          <%# Visual Field Comment %>
          <div class="row mb-3">
            <label for="visualFieldComment" class="form-label">Visual Field Comment:</label>
            <textarea class="form-control" name="visualFieldComment" id="visualFieldComment" rows="1"></textarea>
          </div>

          <%# Fixation Disparity %>
          <div class="row mb-3">
            <label for="fixationDisparity" class="form-label">Fixation Disparity:</label>
            <select name="fixationDisparity" id="fixationDisparity" class="form-select">
              <option value="orthophoric">Orthophoric</option>
              <option value="xop">XOP</option>
              <option value="sop">SOP</option>
              <option value="xot-r">XOT R</option>
              <option value="xot-l">XOT L</option>
              <option value="sot-r">SOT R</option>
              <option value="sot-l">SOT L</option>
            </select>
          </div>

          <%# Motility %>
          <div class="row mb-3">
            <label for="motility" class="form-label">Motility:</label>
            <select name="motility" id="motility" class="form-select">
              <option value="full">Full and Smooth</option>
              <option value="">Other</option>
            </select>
            <div id="motilityOtherDiv" class="row mb-3 d-none">
              <label for="motilityOther" class="form-label">Other:</label>
              <textarea class="form-control" name="motilityOther" id="motilityOther" rows="1"></textarea>
            </div>
          </div>

          <%# Convergence %>
          <div class="row mb-3">
            <label for="convergence" class="form-label">Convergence:</label>
            <select name="convergence" id="convergence" class="form-select">

              <% for( let index=0; index < 21; index++ ) { %>
              <option value="<%= index %>">
                <%= index %> cm
              </option>
              <% } %>

            </select>
          </div>

          <%# Stereopsis %>
          <div class="row mb-3">
            <label for="stereopsis" class="form-label">Stereopsis:</label>
            <div class="input-group">
              <input type="text" class="form-control" id="stereopsis" name="stereopsis">
              <span class="input-group-text" id="basic-addon2">seconds</span>
            </div>
          </div>

          <%# Visual Acuity %>
          <div class="row mb-3 gap-2">
            <div class="col">
              <label for="visualAcuity" class="form-label">Visual Acuity:</label>
              <select name="visualAcuity" id="visualAcuity" class="form-select">
                <option value="full">Hand Movement</option>
                <option value="cf">Counting Fingers</option>
                <option value="6/60">6/60</option>
                <option value="6/36">6/36</option>
                <option value="6/24">6/24</option>
                <option value="6/18">6/18</option>
                <option value="6/12">6/12</option>
                <option value="6/9">6/9</option>
                <option value="6/7.5">6/7.5</option>
                <option selected value="6/6">6/6</option>
                <option value="6/5">6/5</option>
                <option value="6/4">6/4</option>
              </select>
            </div>
            <div class="col">
              <label for="visualAcuityMod" class="form-label">Visual Acuity Modifier:</label>
              <select name="visualAcuityMod" id="visualAcuityMod" class="form-select">
                <option value="-2">-2</option>
                <option value="-1">-1</option>
                <option selected value="0"> 0</option>
                <option value="+1">+1</option>
                <option value="+2">+2</option>
              </select>
            </div>
          </div>

          <br>
          <hr>
          <h2>Prescription</h2>

          <%# Sphere %>
          <div class="row mb-3 gap-2">
                        
            <div class="col">
              <div input-group>
                <label for="sphereRightSign">Sphere Right</label>
                <select name="sphereRightSign" id="sphereRightSign" class="form-select">
                  <option value="+"> + </option>
                  <option value="-"> - </option>
                </select>
              </div>
            </div>
            <div class="col">
              <label for="sphereRight"></label>
              <select name="sphereRight" id="sphereRight" class="form-select">
                <option value="plano"> Plano </option>
                <% for( let index=0.25; index < 25.1; index+=0.25 ) { %>
                <% let num=index.toString() %>
                <% if (num % 1==0) num=`${num}.` %>
                <% if (num.charAt(num.length - 1)==='.' ) num=`${num}00` %>
                <% if (num.charAt(num.length - 2)==='.' ) num=`${num}0` %>
                <option value="<%= num %>">
                  <%= num.toString() %>
                </option>
                <% } %>
              </select>
            </div>

            
            <div class="col">
              <div input-group>
                <label for="sphereLeftSign">Sphere Left</label>
                <select name="sphereLeftSign" id="sphereLeftSign" class="form-select">
                  <option value="+"> + </option>
                  <option value="-"> - </option>
                </select>
              </div>
            </div>
            <div class="col">
              <label for="sphereLeft"> </label>
              <select name="sphereLeft" id="sphereLeft" class="form-select">
                <option value="plano"> Plano </option>
                <% for( let index=0.25; index < 25.1; index+=0.25 ) { %>
                <% let num=index.toString() %>
                <% if (num % 1==0) num=`${num}.` %>
                <% if (num.charAt(num.length - 1)==='.' ) num=`${num}00` %>
                <% if (num.charAt(num.length - 2)==='.' ) num=`${num}0` %>
                <option value="<%= num %>">
                  <%= num.toString() %>
                </option>
                <% } %>
              </select>
            </div>
          </div>

          <%# Cylinder %>
          <div class="row mb-3 gap-2">
            <div class="col">
              <label for="cylinderRight" class="form-label">Cylinder Right:</label>
              <select name="cylinderRight" id="cylinderRight" class="form-select">
                <% for( let index=0; index> -10.1; index-=0.25 ) { %>
                  <% let num=index.toString() %>
                  <% if (num % 1==0) num=`${num}.` %>
                  <% if (num.charAt(num.length - 1)==='.' ) num=`${num}00` %>
                  <% if (num.charAt(num.length - 2)==='.' ) num=`${num}0` %>
                  <option value="<%= num %>">
                    <%= num.toString() %>
                  </option>
                  <% } %>
                </select>
            </div>

            <div class="col">
              <label for="cylinderLeft" class="form-label">Cylinder Left:</label>
              <select name="cylinderLeft" id="cylinderLeft" class="form-select">
                <% for( let index=0; index> -10.1; index-=0.25 ) { %>
                  <% let num=index.toString() %>
                  <% if (num % 1==0) num=`${num}.` %>
                  <% if (num.charAt(num.length - 1)==='.' ) num=`${num}00` %>
                  <% if (num.charAt(num.length - 2)==='.' ) num=`${num}0` %>
                  <option value="<%= num %>">
                    <%= num.toString() %>
                  </option>
                <% } %>
              </select>
            </div>
          </div>

          <%# Axis %>
          <div class="row mb-3 gap-2">
            <div class="col">
              <label for="axisRight" class="form-label">Axis Right:</label>
              <div class="input-group ">
                <input type="text" class="form-control" id="axisRight" name="axisRight">
                <span class="input-group-text">degrees</span>
              </div>
            </div>
          </div>
            <div class="col">
              <label for="axisLeft" class="form-label">Axis Left:</label>
              <div class="input-group">
                <input type="text" class="form-control" id="axisLeft" name="axisLeft">
                <span class="input-group-text">degrees</span>
              </div>
            </div>

          <%# Prism/Base %>
          <div class="row mb-3">
            <%# Prism/Base Right %>
            <div class="col">
              <label for="prismBaseRight" class="form-label">Prism Base Right:</label>
              <div class="form-check">
                <label class="form-check-label" for="rightLeft"> Left </label>
                <input class="form-check-input" type="checkbox" id="rightLeft" name="prismRight" value="right-left">
              </div>
              <div class="form-check">
                <label class="form-check-label" for="rightRight"> Right </label>
                <input class="form-check-input" type="checkbox" id="rightRight" name="prismRight" value="right-right">
              </div>
              <div class="form-check">
                <label class="form-check-label" for="rightUp"> Up </label>
                <input class="form-check-input" type="checkbox" id="rightUp" name="prismRight" value="right-up">
              </div>
              <div class="form-check">
                <label class="form-check-label" for="rightDown"> Down </label>
                <input class="form-check-input" type="checkbox" id="rightDown" name="prismRight" value="right-down">
              </div>
            </div>
            <%# Prism/Base Left %>
            <div class="col">
              <label for="prismBaseLeft" class="form-label">Prism Base Left:</label>
              <div class="form-check">
                <label class="form-check-label" for="leftLeft"> Left </label>
                <input class="form-check-input" type="checkbox" id="leftLeft" name="prismLeft" value="left-left">
              </div>
              <div class="form-check">
                <label class="form-check-label" for="leftRight"> Right </label>
                <input class="form-check-input" type="checkbox" id="leftRight" name="prismLeft" value="left-right">
              </div>
              <div class="form-check">
                <label class="form-check-label" for="leftUp"> Up </label>
                <input class="form-check-input" type="checkbox" id="leftUp" name="prismLeft" value="left-up">
              </div>
              <div class="form-check">
                <label class="form-check-label" for="leftDown"> Down </label>
                <input class="form-check-input" type="checkbox" id="leftDown" name="prismLeft" value="left-down">
              </div>
            </div>
          </div>

          <%# Advice %>
          <div class="row mb-3">
            <label for="adviceGiven" class="form-label">Advice Given:</label>
            <select name="adviceGiven" id="adviceGiven" class="form-select">
              <option value="noChange">No Change</option>
              <option value="newPrescription">New Prescription</option>
              <option value="noPrescription">No Prescription</option>
              <option value="refered">Referral (please specify)</option>
            </select>
          </div>

          <%# Advice Details %>
          <div class="row mb-3">
            <label for="adviceSpecifics" class="form-label">Advice Specifics:</label>
            <textarea class="form-control" name="adviceSpecifics" id="adviceSpecifics" rows="1"></textarea>
          </div>

          <%# Recall Code %>
          <div class="row mb-3">
            <label for="recallCode" class="form-label">Recall Code:</label>
            <select name="recallCode" id="recallCode" class="form-select">
              <option value="0">0 - No Early Recall</option>
              <option value="1">1 - risk of frequent changes</option>
              <option value="2">2 - pathology likely to worsen</option>
              <option value="3.1">3.1 - referral to a medical practitioner</option>
              <option value="3.2">3.2 - changed prescription</option>
              <option value="3.3">3.3 - no change or no referral</option>
              <option value="4.1">4.1 - complex lenses</option>
              <option value="4.2">4.2 - corrected vision less than 6/60 in one eye</option>
              <option value="5.1">5.1 - presented for a sight test</option>
              <option value="5.2">5.2 - managed by an optometrist under the GOC referral</option>
              <option value="5.3">5.3 - risk factors</option>
              <option value="6">6 - other unusual circumstances</option>
            </select>
          </div>

          <br>
          <hr>

          <%# Attachments %>
          <div class="row mb-3">
            <label for="attachments" class="form-label">Attachments:</label>
            <input class="form-control" type="file" name="attachments" id="attachments" multiple>
          </div>

          <div class="mb-3 d-flex justify-content-center">
            <button id="buttonSubmitPatient" class="btn btn-primary btn-lg">Submit</button>
          </div>
        </div>
      </form>

    </div>

</div>

<script>
  fundusLeft.addEventListener("change", _ => {
    if (!fundusLeft.value) {
      fundusLeftOtherDiv.classList.remove("d-none")
    } else {
      fundusLeftOtherDiv.classList.add("d-none")
    }
  })

  fundusRight.addEventListener("change", _ => {
    if (!fundusRight.value) {
      fundusRightOtherDiv.classList.remove("d-none")
    } else {
      fundusRightOtherDiv.classList.add("d-none")
    }
  })

  maculaLeft.addEventListener("change", _ => {
    if (!maculaLeft.value) {
      maculaLeftOtherDiv.classList.remove("d-none")
    } else {
      maculaLeftOtherDiv.classList.add("d-none")
    }
  })

  maculaRight.addEventListener("change", _ => {
    if (!maculaRight.value) {
      maculaRightOtherDiv.classList.remove("d-none")
    } else {
      maculaRightOtherDiv.classList.add("d-none")
    }
  })

  motility.addEventListener("change", _ => {
    if (!motility.value) {
      motilityOtherDiv.classList.remove("d-none")
    } else {
      motilityOtherDiv.classList.add("d-none")
    }
  })
</script>