<%- include("../../partials/page-buttons") %> 
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr class="table-dark">
        <th>Archive Type</th>
        <th>Archiver</th>
        <th>Archived Timestamp</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% elements.forEach(element => { %>
        <tr>
          <td><%= element.archiveType %></td>
          <td><%= optometrists.find(optom => optom._id == element.archivedBy).name %></td>
          <td><%= element.dateArchived.toLocaleDateString("en-GB") %> - <%= element.dateArchived.toLocaleTimeString("en-GB") %></td>
          <td> <a type="button" class="btn btn-secondary btn-sm" href="/admin/archive/view/<%= element._id %>" > View </a> </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
