<form class="container d-flex mb-3 gap-2 noGutter">
  <div>
    <label class="form-label" for="filterDateFrom">From:</label>
    <input name="filterDateFrom" class="form-control" id="filterDateFrom" type="datetime-local" value="<%- lastQuery.filterDateFrom %>">
  </div>
  <div>
    <label class="form-label" for="filterDateTo">To:</label>
    <input name="filterDateTo" class="form-control" id="filterDateTo" type="datetime-local" value="<%- lastQuery.filterDateTo %>">
  </div>
  <div>
    <label class="form-label" for="filterByUser">By:</label>
    <select name="filterByUser" class="form-select" id="filterByUser" value="<%- lastQuery.filterByUser %>">
      <option value="">None</option>
      <% optometrists.forEach(optom => { %>
       <option value="<%- optom._id %>" 
        <% if (lastQuery.filterByUser == optom._id) { %>
        selected
        <% } %>
       >
       <%- optom.name %>
      </option>
      <% }) %>
    </select>
  </div>
  <div>
    <label class="form-label" for="filterButton">Go!</label>
    <button type="submit" id="filterButton" class="btn btn-primary form-control" role="button">Filter</button>
  </div>
  <div>
    <label class="form-label" for="clearButton">Reset</label>
    <a href="/admin/audit/list/" id="clearButton" class="btn btn-outline-danger form-control" role="button">Clear</a>
  </div>
</form>

<%- include("../../partials/page-buttons") %> 
<div class="table-responsive">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr class="table-dark">
        <th>Event</th>
        <th>User</th>
        <th>IP Address</th>
        <th>Timestamp</th>
      </tr>
    </thead>
    <tbody>
      <% elements.forEach(element => { %>
        <tr>
          <td><%= element.event %></td>
          <td><%= optometrists.find(optom => optom._id == element.user).username %></td>
          <td><%= element.IP.replace("::ffff:","") %></td>
          <td><%= element.timestamp.toLocaleDateString("en-GB") %> - <%= element.timestamp.toLocaleTimeString("en-GB") %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>

